<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
{% block body %}
    <h1>Create Form</h1>
    {{ form_start(user) }}
    {{ form_row(user.text) }}
    {{ form_row(user.email) }}
    {{ form_row(user.color) }}
    {{ form_row(user.figure) }}
    {{ form_row(user.image) }}
    {{ form_end(user) }}
{% endblock %}
</body>
</html>